<h4>Edit Bounty</h4>
    <form ng-submit="updatePost()">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control"ng-model="post.title">
      </div>
      <div class="form-group">
        <label>Code:</label>
      <textarea class="form-control" ng-model="post.content"></textarea>
      </div>
      <div class="form-group">
        <label>Message:</label>
      <textarea class="form-control" ng-model="post.body"></textarea>
      </div>
      <button ng-href="/#/" type="submit" class="btn btn-default">Submit</button>
    </form>
    <a ng-href="#/">Back</a>