<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#/"><img src="../images/CodeMeedLogo_Big.png"></a>

  </div>
      <a href="#/upload"><img class="navImg" src="../images/post.png"></a>
      <a href="#/discover"><img class="navImg" src="../images/follow.png"></a>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div ng-controller="NavCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li ng-show="signedIn()">
              <a class="profileLink" href="#/users/{{ user.profile.userId}}"><img ng-src="http://www.gravatar.com/avatar/{{ user.profile.md5_hash }}" class="nav-pic right" /></a>
          </li>
          <li ng-show="signedIn()">
            <h6>Python: {{ user.profile.devscorePython}}</h6>
            <h6>Php: {{ user.profile.devscorePhp}}</h6>
            <h6>Ruby: {{ user.profile.devscoreRuby}}</h6>
            <h6>Javascript: {{ user.profile.devscoreJavascript}}</h6>
            <a ng-href="#" ng-click="logout()"class="logout">Logout</h6>
          </li>
          <li ng-hide="signedIn()">
            <a href="#/login">Login</a>
          </li>
          <li ng-hide="signedIn()">
            <a href="#/register">Register</a>
          </li>
      </ul>
  </div><!-- /.navbar-collapse -->
</nav>