<div>
  <h4>
	{{post.title}} :{{post.creator}}
  <a ng-href="#/edit/{{ post.$id }}" ng-show="user.uid === post.creatorUID">edit</a>
  </h4>
  <p>{{post.body}}</p>
  <pre>{{post.content}}</pre>
</div>


<div ng-repeat="comment in comments" class="row cmt">
    <div class="col-md-12">
      <p class="author">
      <a ng-href="#/users/{{ comment.creatorUID }}">
          {{ comment.creator }}
        </a>
        <a ng-href="#/" ng-click="complete(post)"  ng-show="user.uid === post.creatorUID">Award</a>
        <a ng-href=""
        ng-click="deleteComment(comment)"
        ng-show="signedIn() && comment.creatorUID === user.uid">
        (delete)
      </a>
      <a ng-href="#/editComment/{{post.$id}}/{{comment.$id}}"
        ng-show="signedIn() && comment.creatorUID === user.uid">
        Edit
      </a>
      </p>
        
      <p>{{ comment.text }}</p>
      
    </div>
  </div>
  <div class="cmt-form">
    <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> to post a comment</p>
    </div>

    <form ng-show="signedIn()" ng-submit="addComment()">
      <textarea
        ng-model="commentText"
        placeholder="Post a Comment"
        class="form-control"></textarea><br />
      <input type="submit" value="Post Comment" class="btn btn-primary" />
    </form>
  </div>

<a ng-href="#/posts">Back to Posts</a>