 <div ng-controller="NavCtrl" >
  <h4>Post a New Bounty</h4>
    <form class="cmt-form" role="search" ng-submit="submitPost()" ng-show="signedIn()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="post.title">
      </div>
      <select class="form-control" placeholder="Languge" ng-model="post.language">
        <option value="1">Python</option>
        <option value="2">Php</option>
        <option value="3">Ruby</option>
        <option value="4">Javascript</option>
      </select>
      <div class="form-group">
      <textarea class="form-control" placeholder="Code" ng-model="post.content"></textarea>
      </div>
      <div class="form-group">
      <textarea class="form-control" placeholder="Text" ng-model="post.body"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>